%section.bar
	.chicken
		%span HEALTH
		%div
	.buffer
	.cobra
		%span HEALTH
		%div
%section.stat
	#chicken
		%span VOTE
	.score
		.title BATTLE STATS
		.detail
			.chicken
				%span.perc
					= perc(@chicken_perc)
					%span.fonthack %
				%span.votes 
					VOTES: 
					%br
					= @chicken_votes
			.cobra
				%span.perc
					= perc(@cobra_perc)
					%span.fonthack %
				%span.votes 
					VOTES:
					%br
					= @cobra_votes
	#cobra
		%span VOTE

%section{style: 'display:none', id: 'drawer'}
	= form_for Vote.new do |f|
		- if user_signed_in?
			= f.hidden_field :user_id, value: current_user.id
		= f.hidden_field :chicken, value: false
		= f.hidden_field :cobra, value: false
		.reason
			= f.text_field :reason, placeholder: 'WHY?'
			= f.submit "GO"

= render partial: 'bar'
