%section &nbsp;
%section
	.chicken &nbsp;
	.score #{number_to_percentage(@chicken_perc, precision: 0)} / #{number_to_percentage(@cobra_perc, precision: 0)}
	.cobra &nbsp;
%section
	= form_for Vote.new do |f|
		- if user_signed_in?
			= f.hidden_field :user_id, value: current_user.id
		.choice
			%label{for: 'chicken'} Chicken
			= f.check_box :chicken
			%label{for: 'cobra'} Cobra
			= f.check_box :cobra
		.reason
			= f.text_area :reason, placeholder: 'Reason'
			= f.submit "Submit"
