%section.bar
	.chicken
		%span HEALTH
		%div
			%span= number_to_percentage(@chicken_perc, precision: 0)
	.buffer
	.cobra
		%span HEALTH
		%div
			%span= number_to_percentage(@cobra_perc, precision: 0)
%section.stat
	#chicken &nbsp;
	.score
		.title BATTLE STATS
		.detail
			.chicken
				%span.perc= number_to_percentage(@chicken_perc, precision: 0)
				%span.votes 
					VOTES: 
					%br
					= @chicken_votes
			.cobra
				%span.perc= number_to_percentage(@cobra_perc, precision: 0)
				%span.votes 
					VOTES:
					%br
					= @cobra_votes
	#cobra &nbsp;
%section{style: 'display:none', id: 'drawer'}
	= form_for Vote.new do |f|
		- if user_signed_in?
			= f.hidden_field :user_id, value: current_user.id
		.choice
			.chicken
				%label{for: 'chicken'} Chicken
				= f.check_box :chicken
			.cobra
				%label{for: 'cobra'} Cobra
				= f.check_box :cobra
		.reason
			= f.text_area :reason, placeholder: 'Reason'
			= f.submit "Submit"

= render partial: 'bar'
