%section.bar
	.chicken
		%span HEALTH
		%div
	.buffer
	.cobra
		%span HEALTH
		%div
%section.stat
	#chicken
		%span SELECT
	.score
		.title BATTLE STATS
		.detail
			.chicken
				%span.perc
					= perc(@chicken_perc)
					%span.fonthack %
				%span.votes 
					VOTES: 
					%br
					= @chicken_votes
			.cobra
				%span.perc
					= perc(@cobra_perc)
					%span.fonthack %
				%span.votes 
					VOTES:
					%br
					= @cobra_votes
	#cobra
		%span SELECT

%section#drawer{style: 'display:none'}
	= form_for Vote.new do |f|
		- if user_signed_in?
			= f.hidden_field :user_id, value: current_user.id
		= f.hidden_field :chicken, value: false
		= f.hidden_field :cobra, value: false
		.reason
			= f.text_field :reason, placeholder: 'WHY?'
			= f.submit "VOTE"

%section.votes
	%span.show Show Comments
	%span.hide{style: 'display: none'} Hide Comments
	%ul{style: 'display:none'}
	%span.hide{style: 'display: none'} Hide Comments

= render partial: 'bar'
