<!DOCTYPE html>
<html>
<head>
  <title>Cvc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
</head>
<body>

<!-- <div id="background">
	<div class="left">
	</div>
	<div class="right">
	</div>
</div> -->

<header>
	CHICKEN 
	<span class="vs">VS</span>
	COBRA
	<div class="tagline">who would win in a fight to the death?</div>
</header>

<%= yield %>

<footer>
	<span>This web application was carelessly assembled by</span>
	<ul>
		<li><%= link_to image_tag('logo-migrant.png', alt: 'migrant studios'), 'http://migrantstudios.com' %></li>
		<li><%= link_to image_tag('logo-madera.png', alt: 'madera labs'), 'http://maderalabs.com' %></li>
		<li><%= link_to image_tag('logo-mega.png', alt: 'mega'), 'http://megainc.com' %></li>
	</ul>
</footer>

</body>
</html>
